.title {
    padding-top: 20px;
    text-align: center;
}

.content {
    display: flex;
}

#work,
#about,
#contact,
#footer {
    padding: 0rem 10rem 0rem;
}

/* Navbar style */

.navbar-brand {
    padding-left: 10rem;
}

#banner {
    background: url(imgs/banner.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

#bannerText {
    color: white;
    padding: 10rem;
}

/* about style */

.profile-image {
    border-radius: 50%;
}

.contentAbout1 {
    justify-content: center;
}

.contentAbout2 {
    text-align: center;
}

/* work style */

.contentWork {
    display: flex;
    justify-content: center;
}

.contentWork2,
.contentWork1 {
    padding: 1rem 3rem 3rem;
}

/* contact style */

.contentContact {
    display: flex;
    justify-content: center;
}

.contentContact1,
.contentContact2 {

    padding: 1rem 0.5rem 3rem;
}

.contentContact1 {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}